<table>
  <thead>
    <tr>
      <th>ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Name</th>
      <th>Body</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.name %></td>
        <td><%= article.body %></td>
        <td><%= article.age %></td><br>
        <td><%= link_to 'View', article_show_path(article) %></td>
        <td><%= link_to 'Update', article_edit_path(article) %></td>
        <td><%= link_to 'Delete', article_delete_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%# <%= link_to 'New article', articles_new_path %>
